<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Maikel Express</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
    <link rel="icon" href="{% static 'img/maikel.png' %}" type="image/png" />
  </head>
  <body>
    <div class="contenedor">
      <img src="{% static 'img/maikel.png' %}" alt="Logo Maikel" class="logo" />
      <h1>Maikel Express</h1>
      <p>Seguimiento inteligente de entregas en tiempo real 📍🚚</p>
      <div class="botones">
        <a href="/mapa-vista/" class="boton mapa">Ver Mapa de Entregas</a>
        <a href="/admin/" class="boton admin">Panel de Gestión</a>
      </div>
    </div>
  </body>
</html>
